---
layout: archive
title: "Notes and Publications"
permalink: /publications/
author_profile: true
---

I list here my publications and lecture notes.
{% if site.author.googlescholar %}
You can also find my articles on [my Google Scholar profile]({{ site.author.googlescholar }}).
{% endif %}

{% include base_path %}

{%- assign articles = site.publications
  | where_exp: "p", "p.category == 'papers' or p.category == 'preprints'"
  | sort: "date"
  | reverse -%}

{%- assign notes = site.publications
  | where: "category", "notes"
  | sort: "date"
  | reverse -%}

{%- if articles.size > 0 -%}
  <h2 class="archive__subtitle pubsection">Publications and preprints</h2>
  <ul class="publist publist-articles">
    {% for post in articles %}
      {% include pub-hoyois.html %}
    {% endfor %}
  </ul>
{%- endif -%}

{%- if notes.size > 0 -%}
  <h2 class="archive__subtitle pubsection">Lecture notes</h2>
  <ul class="publist publist-notes">
    {% for post in notes %}
      {% include note-hoyois.html %}
    {% endfor %}
  </ul>
{%- endif -%}




