{%- comment -%}
Lecture notes style:
Title (WS 2025/2026) [pdf].
Se presente "with": Title, with X (WS 2025/2026) [pdf].
NOTA: niente virgola prima del termine/data.
{%- endcomment -%}

{%- assign term = post.term | default: post.semester -%}

{%- assign pdf_url = post.paperurl -%}
{%- if pdf_url and pdf_url != "" and pdf_url contains "://" -%}
  {%- assign pdf_href = pdf_url -%}
{%- elsif pdf_url and pdf_url != "" -%}
  {%- assign pdf_href = pdf_url | relative_url -%}
{%- endif -%}

{%- assign has_with = false -%}
{%- if post.with and post.with != "" -%}{%- assign has_with = true -%}{%- endif -%}

{%- assign has_term = false -%}
{%- if term and term != "" -%}{%- assign has_term = true -%}{%- endif -%}

<li class="pubitem">
  <span class="pubtitle pubtitle--note">{{ post.title }}</span>

  {%- if has_with -%}
    , <span class="pubwith">with {{ post.with }}</span>
  {%- endif -%}

  {%- if has_term -%}
    <span class="pubdate"> ({{ term }})</span>
  {%- endif -%}

  {%- if pdf_href and pdf_href != "" -%}
    <span class="publinks">[<a href="{{ pdf_href }}">pdf</a>]</span>
  {%- endif -%}.
</li>
