{%- comment -%}
Formato riga teaching (senza semestre):
Title (bold, clickable), Type, Institution
{%- endcomment -%}

{%- assign t_type = post.course_type | default: post.type -%}
{%- assign t_inst = post.institution | default: post.venue -%}

<li class="pubitem teachingitem">
  <span class="pubtitle teachingtitle">
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </span>
  {%- if t_type and t_type != "" -%}
    , <span class="teachingtype">{{ t_type }}</span>
  {%- endif -%}
  {%- if t_inst and t_inst != "" -%}
    , <span class="teachinginst">{{ t_inst }}</span>
  {%- endif -%}
</li>
